<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <fieldset style="width: 30%">
        <legend>Add New Customer</legend>
        <table>
            <tr>
            <td>
                <pre>Name:</pre>
            </td>
            <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>
                    <pre>Birthday:</pre>
                </td>
                <td><input type="date" name="birthday"></td>
            </tr>
            <tr>
                <td>
                    <pre>Gender:</pre>
                </td>
                <td>
                    <select name="gender">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>ID Card:  </pre>
                </td>
                <td><input type="text" name="id-card"></td>
            </tr>
            <tr>
                <td>
                    <pre>Phone Number:</pre>
                </td>
                <td><input type="text" name="phoneNumber"></td>
            </tr>
            <tr>
                <td>
                    <pre>Email:</pre>
                </td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>
                    <pre>Address:</pre>
                </td>
                <td><input type="text" name="address"></td>
            </tr>
            <tr>
                <td><a><input type="submit" value="Save"/></a></td>
                <td><a href="/customers">
                    <button>Back List Customers</button>
                </a></td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>