body{
    font-family: Tahoma;
    font-size: 13px;
    width: 1200px;
    margin: 0px auto;
}
#header{
    background: black ;
    height: 40px;
    color: #e0e0e0;
}
#header ul{
    margin: 0px;
    padding: 0px;
}
#header ul li{
    text-decoration: none;
    list-style: none;
    color: white;
    display: inline;
    width: 120px;
    padding: 40px;
    margin-top: 10px;
}
#main .left{
    width: 200px;
    height: 500px;
    background: #2196F3;
    float: left;
}
#main .mid{
    width: 800px;
    float: left;
    height: 500px;
    background: burlywood;
}
#main .right{
    width: 200px;
    float: left;
    height: 500px;
    background: darkkhaki;
}
#footer{
    height: 120px;
    width: 1200px;
    background: darkcyan;
    clear: left;
}