<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post">
  <fieldset style="width: 30%">
    <legend>Add New Facility</legend>
    <table>
      <tr>
      <td>
        <pre>Name:</pre>
      </td>
      <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <td>
          <pre>Area:</pre>
        </td>
        <td><input type="text" name="area"></td>
      </tr>
      <tr>
        <td>
          <pre>Cost:</pre>
        </td>
        <td><input type="text" name="cost"></td>
      </tr>
      <tr>
        <td>
          <pre>Max People:</pre>
        </td>
        <td><input type="text" name="maxPeople"></td>
      </tr>
      <tr>
        <td>
          <pre>Standard Room:</pre>
        </td>
        <td><input type="text" name="standardRoom"></td>
      </tr>
      <tr>
        <td>
          <pre>Description Other Convenience:  </pre>
        </td>
        <td><input type="text" name="descriptionOtherConvenience"></td>
      </tr>
      <tr>
        <td>
          <pre>Pool Area:  </pre>
        </td>
        <td><input type="text" name="poolArea"></td>
      </tr>
      <tr>
        <td>
          <pre>Number Of Floors:</pre>
        </td>
        <td><input type="text" name="numberOfFloors"></td>
      </tr>
      <tr>
        <td>
          <pre>Facility Free:</pre>
        </td>
        <td><input type="text" name="facilityFree"></td>
      </tr>
      <tr>
        <td><a><input type="submit" value="Save"/></a></td>
        <td><a href="/facilities"><button>Back List Facility</button></a></td>
      </tr>
    </table>
  </fieldset>
</form>
</body>
</html>